<form [formGroup]="form" (ngSubmit)="submit()">
  <h3>Выбор по категориям и книгам: </h3>
  <div class="form-control"
       [ngClass]="{invalid: form.get('category').touched && form.get('category').invalid}"
       (mouseleave)=defineCategory()
  >
    <label for="category">Категория:</label>
    <select id="category" formControlName="category">
      <option value="basic">Базовые книги</option>
      <option value="tribal_messianship">Родовое мессианство</option>
      <option value="tfs_rus">Сборники речей</option>
      <option value="tfs_quotes">Сборники цитат</option>
      <option value="spiritual_world">О духовном мире</option>
      <option value="others">Прочее</option>
      <option value="bible">Библия</option>
    </select>

    <div
      *ngIf="form.get('category').touched && form.get('category').invalid"
      class="validation"
    >
      <small *ngIf="form.get('category').errors.required">
        Введите категорию
      </small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.get('book').touched && form.get('book').invalid}"
  >
    <label for="book">Книга:</label>
    <select id="book" formControlName="book">
      <option *ngIf="arr[1]" value="1">{{ arr[1] }}</option>
      <option *ngIf="arr[2]" value="2">{{ arr[2] }}</option>
      <option *ngIf="arr[3]" value="3">{{ arr[3] }}</option>
      <option *ngIf="arr[4]" value="4">{{ arr[4] }}</option>
      <option *ngIf="arr[5]" value="5">{{ arr[5] }}</option>
      <option *ngIf="arr[6]" value="6">{{ arr[6] }}</option>
      <option *ngIf="arr[7]" value="7">{{ arr[7] }}</option>
      <option *ngIf="arr[8]" value="8">{{ arr[8] }}</option>
      <option *ngIf="arr[9]" value="9">{{ arr[9] }}</option>
      <option *ngIf="arr[10]" value="10">{{ arr[10] }}</option>
    </select>

    <div
      *ngIf="form.get('book').touched && form.get('book').invalid"
      class="validation"
    >
      <small *ngIf="form.get('book').errors.required">
        Введите книгу
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Открыть</button>
</form>

<br />


<div class="search">
  <h3>Поиск по книге: </h3>
  <div class="form-control">
    <input type="text" placeholder="Найти ..." [(ngModel)]="searchStr">
  </div>
</div>


<div class="container"
  *ngIf="items$ | async as items; else loading "
  class="dashboard">
  <h2 class="text-center">Список текстов</h2>
  <p></p>
  <div class=wrap>
  <table>
    <thead>
    <tr>
      <th>Глава</th>
      <th>Параграф</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of items | sorting: textsService.book | search: searchStr">
      <td>{{ item.chapter }}</td>
      <td class="pointer" [routerLink]="['/text', item.id]" (click)="setSearchStr(searchStr)">{{ item.section }}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>



<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
