<form [formGroup]="form" (ngSubmit)="submit()">

    <h2>Аутентификация</h2>

    <div class="form-control">
        <label for="email">Имейл</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
            <small *ngIf="form.get('email').errors.required">Введите имейл</small>
            <small *ngIf="form.get('email').errors.email">Enter valid Email</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Пароль</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
            <small *ngIf="form.get('password').errors.required">Enter Password</small>
            <small *ngIf="form.get('password').errors.minlength">
                Пароль должен быть по крайней мере  {{form.get('password').errors.minlength.requiredLength}} знаков.
                Сейчас он {{form.get('password').errors.minlength.actualLength}}
            </small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Войти</button>
</form>
